@page "/ontap/***REMOVED***LevelId:int***REMOVED***/***REMOVED***TagIds***REMOVED***/***REMOVED***limit:int***REMOVED***"
@inject IRepositoryOntap repository
@inject AppState appState

@if(questionOnTaps?.Count() == 0)
***REMOVED***
    <p>
        Không có câu hỏi nào để ôn tập, hãy chọn lại các tiêu chí như mức độ và loại câu hỏi.
    </p>
***REMOVED***
@if (questionOnTaps?.Count() > 0 && !IsFinished) ***REMOVED***
        
    <div class="container">
        
        <div class="row">
            <div class="col">
                
                <div class="card bg-light text-dark">
                    <div class="card-header">
                        <b> @(CurrentQuestionIndex+1)/@questionOnTaps.Count() . @questionOnTaps[CurrentQuestionIndex].QuestionText
                   </b>
                    </div>
                    <div class="card-body scroll-answer">
                  @* <span class="card-title">></span>*@
                @if (!questionOnTaps[CurrentQuestionIndex].IsMultipleChoice)
                ***REMOVED***
                    @foreach(AnswerDAO answerDAO in questionOnTaps[CurrentQuestionIndex].Answers)
                    ***REMOVED***
                        <SfRadioButton Label="@answerDAO.AnswerText" Name="Options" Value="@answerDAO.AnswerId.ToString()"
                        @bind-Checked="CurrentUserAnswerIdSelect" 
                        CssClass="@(IsAnswerMode ? answerDAO.IsCorrect ? "e-info btn-block right-answer": "e-info btn-block" : "e-info btn-block"  )"
                        >

                        </SfRadioButton> <br /><br />
                ***REMOVED***
            ***REMOVED***
                else
                ***REMOVED***

            ***REMOVED***
                </div>
               @* <div class="card-footer">

                </div>*@
                </div>
                
            </div>

        </div>
        <div class="row">
            @if (!IsAnswerMode)
            ***REMOVED***
                <div class="col-12">
                    <button class="btn btn-primary btn-block" @onclick="onDapAnClick">Đáp án</button>
                </div>
        ***REMOVED***else***REMOVED***
            
                <div class="col-3">
                        <button class="btn btn-primary btn-block" @onclick="onEasyClick"> Dễ </button>
                </div>
                <div class="col-6">
                    <button  class="btn btn-info btn-block" @onclick="onNormalClick" >Bình thường </button>
                </div >
                <div class="col-3">
                    <button  class="btn btn-danger btn-block" @onclick="onHardClick">Khó </button>
                </div>
        ***REMOVED***
           
        </div>
        <div class="row">
           @* <div class="col-4">
                
                Đã làm: @(CurrentQuestionIndex+1)/@questionOnTaps.Count() câu
            </div>*@
            <div class="col-2"></div>
            <div class="col-8 text-summary">
                
                <b>Tỉ lệ đúng: @Score / @(CurrentQuestionIndex+1)</b>
            </div>
            <div class="col-2"></div>
        </div>

    </div>
***REMOVED***
@if(IsFinished)
***REMOVED***
    <p> Đã xong phiên ôn tập</p>
    <b>Tỉ lệ đúng: @Score / @(CurrentQuestionIndex+1)</b>
***REMOVED***
<style>
    .answer ***REMOVED***
        font-size:14px !important
***REMOVED***
    .right-answer***REMOVED***
        background-color:yellow
***REMOVED***
    .answer-button***REMOVED***
        
***REMOVED***
    .scroll-answer***REMOVED***
        max-height:70vh;
        overflow-y:auto;
***REMOVED***
     .e-radio-wrapper.e-info .e-radio:checked + label::after ***REMOVED*** /* csslint allow: adjoining-classes */
        background-color: #2196f3;
        color: #2196f3;
       
***REMOVED***
    .e-radio-wrapper.e-info .e-radio:checked:focus + label::after,
    .e-radio-wrapper.e-info .e-radio:checked + label:hover::after ***REMOVED*** /* csslint allow: adjoining-classes */
        background-color: #0b7dda;
***REMOVED***

    .e-radio-wrapper.e-info .e-radio:checked + label::before ***REMOVED***
        border-color: #2196f3;
        background-color: #fff;
        
***REMOVED***

    .e-radio-wrapper.e-info .e-radio:checked:focus + label::before,
    .e-radio-wrapper.e-info .e-radio:checked + label:hover::before ***REMOVED***
        border-color: #0b7dda;
       
        
***REMOVED***

    .e-radio-wrapper.e-info .e-radio + label:hover::before ***REMOVED***
        border-color: #b1afaf;
***REMOVED***
    .e-radio+label .e-label ***REMOVED***
         font-size:16px;
        
***REMOVED***
    .floating-button ***REMOVED***
    position: fixed;
    bottom: 50%;
    right: 0;
    border-radius: 4px;
    z-index: 10;
***REMOVED***
    
    .text-summary***REMOVED***
     text-align: center;
***REMOVED***

</style>
@code ***REMOVED***
    List<QuestionOnTap> questionOnTaps;
    public int CurrentQuestionIndex ***REMOVED*** get; set; ***REMOVED***
    private string CurrentUserAnswerIdSelect;

    [Parameter]
    public string TagIds ***REMOVED*** get; set; ***REMOVED***
    [Parameter]
    public int LevelId ***REMOVED*** get; set; ***REMOVED***
    [Parameter]
    public int limit ***REMOVED*** get; set; ***REMOVED***

    String RightAnswerCSS***REMOVED*** get; set; ***REMOVED***

    bool IsAnswerMode ***REMOVED*** get; set; ***REMOVED***

    private int Score;
    private bool IsFinished;

    protected override async Task OnInitializedAsync()
    ***REMOVED***
        questionOnTaps = await repository.LayDanhSachCauHoiOnTapTheoMucDo(appState.CurrentIdentityUserId, TagIds, LevelId, limit);
        await base.OnInitializedAsync();
***REMOVED***

    void onDapAnClick()
    ***REMOVED***
        IsAnswerMode = true;
        if(CurrentUserAnswerIdSelect == questionOnTaps[CurrentQuestionIndex].Answers
            .FirstOrDefault(item=>item.IsCorrect)?.AnswerId.ToString()
        )
        ***REMOVED***
            Score++;
    ***REMOVED***
        //StateHasChanged();
***REMOVED***

    async void onEasyClick()
    ***REMOVED***
        await repository.UpdateDanhGiaCauhoiOnTap(questionOnTaps[CurrentQuestionIndex].Id, (int)Level.Easy);
        NextQuestion();

***REMOVED***

    async void onNormalClick()
    ***REMOVED***
        await repository.UpdateDanhGiaCauhoiOnTap(questionOnTaps[CurrentQuestionIndex].Id, (int)Level.Normal);

        NextQuestion();
***REMOVED***

    async void onHardClick()
    ***REMOVED***
        await repository.UpdateDanhGiaCauhoiOnTap(questionOnTaps[CurrentQuestionIndex].Id, (int)Level.Hard);

        NextQuestion();
***REMOVED***



    private void NextQuestion()
    ***REMOVED***
        if(CurrentQuestionIndex < questionOnTaps.Count() -1 )
        ***REMOVED***
            IsAnswerMode = false;
            CurrentUserAnswerIdSelect = "0";
            CurrentQuestionIndex++;

    ***REMOVED***
        else
        ***REMOVED***
            IsFinished = true;
    ***REMOVED***
        StateHasChanged();


***REMOVED***

    

    //public string GetCSSClass()
    //***REMOVED***
    //    if (IsAnswerMode)
    //    ***REMOVED***
    //        if(questionOnTaps[CurrentQuestionIndex].Answers.)
    //***REMOVED***
    //    return "";
    //***REMOVED***
***REMOVED***
