@page "/ontap_prepare"
@inject IRepositoryOntap repository;
@inject AppState appState;
@inject NavigationManager navigation;


<div class="container">
    @*<div class="row">
        <div class="col-4 "/>
            <div class="col-4 ">
                <button class="btn btn-primary btn-block" @onclick="ontapClick">
                    Bắt đầu ôn tập
                </button>
            </div>
        </div>*@

    <div class="row">
       
        <div class="col-12 col-md-6">
           
            <SfDropDownList TValue="int" TItem="QuestionLevel" DataSource="@levels" @bind-Value="@CurrentLevelId"
                            
                            >
                <DropDownListFieldSettings Value="Id" Text="Level"
                                           
                                           ></DropDownListFieldSettings>

            </SfDropDownList>
        </div>
        <div class="col-12 col-md-6">
            
                <button class="btn btn-primary btn-block" @onclick="ontapClick">
                    Bắt đầu ôn tập
                </button>
            
        </div>
        @*<div class="col6">
            <h5>Số câu</h5>
            <Syncfusion.Blazor.Inputs.SfNumericTextBox @bind-Value="@numOfQuestion">

            </Syncfusion.Blazor.Inputs.SfNumericTextBox>

        </div>*@
    </div>
        <div class="row list-category">
            <div class="col-12">
                
                        <SfListView DataSource="@Categories" ShowCheckBox="true" CssClass="e-list-template">
                            <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected">
                            </ListViewFieldSettings>
                            <ListViewTemplates TValue="Category">
                                <Template>
                                    @***REMOVED***
                                        Category item = context as Category;
                                        <div class="e-list-wrapper e-list-multi-line ">

                                            <span class="e-list-item-header">@item.Id</span>
                                            <span class="e-list-content">@item.Name</span>
                                        </div>
                                ***REMOVED***
                                </Template>
                            </ListViewTemplates>

                        </SfListView>
                    
            </div>



        </div>


    </div>

@code ***REMOVED***
    public int CurrentLevelId ***REMOVED***get;set;***REMOVED***
    public int numOfQuestion ***REMOVED*** get; set; ***REMOVED*** = 10000;

    List<QuestionLevel> levels = new List<QuestionLevel>()
    ***REMOVED***
        new QuestionLevel()***REMOVED*** Id = 0, Level="Tất cả mức độ"***REMOVED***,
        new QuestionLevel()***REMOVED*** Id = 4, Level="Mới (Chưa ôn lần nào)"***REMOVED***,
        new QuestionLevel()***REMOVED*** Id = 3, Level="Khó"***REMOVED***,
        new QuestionLevel()***REMOVED*** Id = 2, Level="Bình thường",***REMOVED***,
        new QuestionLevel()***REMOVED*** Id = 1, Level="Dễ"***REMOVED***

***REMOVED***;
    List<Category> Categories;

    [CascadingParameter] public IModalService Modal ***REMOVED*** get; set; ***REMOVED***

    protected override async Task OnInitializedAsync()
    ***REMOVED***
        Categories = await repository.LayDanhSachChuDeTheoNguoiDung(appState.CurrentIdentityUserId);
        await  base.OnInitializedAsync();
***REMOVED***

    void ontapClick()
    ***REMOVED***
        Debug.WriteLine($"level = ***REMOVED***CurrentLevelId***REMOVED*** numOfQuestion =***REMOVED***numOfQuestion***REMOVED***");
        string tags = String.Join(",",Categories.Where(item => item.IsSelected).Select(item => item.Id).ToArray());
        navigation.NavigateTo($"ontap/***REMOVED***CurrentLevelId***REMOVED***/***REMOVED***tags***REMOVED***/***REMOVED***numOfQuestion***REMOVED***");
***REMOVED***

***REMOVED***

<style>
    .flex ***REMOVED***
        display: flex;
***REMOVED***

    .flex__center ***REMOVED***
        justify-content: center;
***REMOVED***

    .vertical__center ***REMOVED***
        align-items: center;
***REMOVED***

    .vertical ***REMOVED***
        flex-direction: column;
***REMOVED***

    .flex__1 ***REMOVED***
        flex: 1;
***REMOVED***

    .flex__2 ***REMOVED***
        flex: 2;
***REMOVED***

    .flex__3 ***REMOVED***
        flex: 3;
***REMOVED***

    .flex__4 ***REMOVED***
        flex: 4;
***REMOVED***

    .bold ***REMOVED***
        font-weight: 500;
***REMOVED***

    .margin ***REMOVED***
        margin: 10px;
        width: 350px;
***REMOVED***

    .small__font ***REMOVED***
        font-size: 13px;
        margin: 2px 0;
***REMOVED***
    .list-category***REMOVED***
        max-height:80vh;
        overflow-y:auto;
***REMOVED***
</style>