@page "/ontap_prepare"
@inject IRepositoryOntap repository;
@inject AppState appState;
@inject NavigationManager navigation;


<div class="container">
    @*<div class="row">
        <div class="col-4 "/>
            <div class="col-4 ">
                <button class="btn btn-primary btn-block" @onclick="ontapClick">
                    Bắt đầu ôn tập
                </button>
            </div>
        </div>*@

    <div class="row">
       
        <div class="col-8 col-md-4">
           
            <SfDropDownList TValue="int" TItem="QuestionLevel" DataSource="@levels" @bind-Value="@CurrentLevelId"
                            @onselectionchange="GetSlectedQuestions">
                <DropDownListFieldSettings Value="Id" Text="Level"></DropDownListFieldSettings>
                <DropDownListEvents TItem="QuestionLevel" TValue="int" ValueChange="GetSlectedQuestions"></DropDownListEvents>

            </SfDropDownList>
        </div>
        <div class="col-4 col-md-2">
            <label>
                @SelectedQuestions câu

            </label>
        </div>
        <div class="col-12 col-md-6">
            
                <button class="btn btn-primary btn-block" @onclick="ontapClick">
                    Bắt đầu ôn tập
                </button>
            
        </div>
        @*<div class="col6">
            <h5>Số câu</h5>
            <Syncfusion.Blazor.Inputs.SfNumericTextBox @bind-Value="@numOfQuestion">

            </Syncfusion.Blazor.Inputs.SfNumericTextBox>

        </div>*@
    </div>
        <div class="row list-category">
            <div class="col-12">
                
                <SfListView DataSource="@Categories" ShowCheckBox="true" CssClass="e-list-template"
                            
                            >
                    <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected"
                                           
                                           >
                    </ListViewFieldSettings>
                    <ListViewEvents TValue="Category"
                        
                      >

                    </ListViewEvents>
                    <ListViewTemplates TValue="Category">
                        <Template>
                            @{
                                Category item = context as Category;
                                <div class="e-list-wrapper e-list-multi-line " @onclick="GetSlectedQuestions">

                                    <span class="e-list-item-header">@item.Name</span>
                                    <span class="e-list-content">
                                        Mới: @GetLevelCategoryNum(item, 4) ; <span style="background-color:yellow">Khó: @GetLevelCategoryNum(item, 3);</span>  Bình thường: @GetLevelCategoryNum(item, 2); Dễ: @GetLevelCategoryNum(item, 1); Tổng: @item.LevelStates.Sum(item => item.NumOfQuestion);

                                    </span>
                                </div>
                            }
                        </Template>
                    </ListViewTemplates>

                </SfListView>
                    
            </div>



        </div>


    </div>

@code {
    public int CurrentLevelId { get; set; }
    public int numOfQuestion { get; set; } = 10000;
    public int SelectedQuestions { get; set; }

    List<QuestionLevel> levels = new List<QuestionLevel>()
    {
        new QuestionLevel(){ Id = 0, Level="Tất cả mức độ"},
        new QuestionLevel(){ Id = 4, Level="Mới (Chưa ôn lần nào)"},
        new QuestionLevel(){ Id = 3, Level="Khó"},
        new QuestionLevel(){ Id = 2, Level="Bình thường",},
        new QuestionLevel(){ Id = 1, Level="Dễ"}

    };
    List<Category> Categories;

    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await repository.LayDanhSachChuDeTheoNguoiDung(appState.CurrentIdentityUserId);
        await base.OnInitializedAsync();
    }

    void ontapClick()
    {
        Debug.WriteLine($"level = {CurrentLevelId} numOfQuestion ={numOfQuestion}");
        string tags = String.Join(",", Categories.Where(item => item.IsSelected).Select(item => item.Id).ToArray());
        navigation.NavigateTo($"ontap/{CurrentLevelId}/{tags}/{numOfQuestion}");
    }

    int GetLevelCategoryNum(Category category, int level_id)
    {
        var item = category.LevelStates.FirstOrDefault(level_item => level_item.LevelId == level_id);
        return item != null ? item.NumOfQuestion : 0;
    }
    void CategoryIsSelectedChanged(ClickEventArgs<Category> args) {
        GetSlectedQuestions();
    }

    void GetSlectedQuestions()
    {
        if (Categories != null && Categories.Any(item => item.IsSelected))
        {
              SelectedQuestions = Categories.Where(item => item.IsSelected).Sum(item => item.LevelStates.Where(item => CurrentLevelId == 0 || item.LevelId == CurrentLevelId)
                  .Sum(item => item.NumOfQuestion));
        }
        else
        {
             SelectedQuestions =  0;
        }
    }


}

<style>
    .flex {
        display: flex;
    }

    .flex__center {
        justify-content: center;
    }

    .vertical__center {
        align-items: center;
    }

    .vertical {
        flex-direction: column;
    }

    .flex__1 {
        flex: 1;
    }

    .flex__2 {
        flex: 2;
    }

    .flex__3 {
        flex: 3;
    }

    .flex__4 {
        flex: 4;
    }

    .bold {
        font-weight: 500;
    }

    .margin {
        margin: 10px;
        width: 350px;
    }

    .small__font {
        font-size: 13px;
        margin: 2px 0;
    }
    .list-category{
        max-height:80vh;
        overflow-y:auto;
    }
</style>