@page "/ontap/{LevelId:int}/{TagIds}/{limit:int}"
@inject IRepositoryOntap repository
@inject AppState appState

@if (questionOnTaps?.Count() > 0) {
    <div class="container">
        
        <div class="row">
            <div class="col">
                
                <div class="card bg-light text-dark">
                    <div class="card-header">
                        <b> @(CurrentQuestionIndex+1) . @questionOnTaps[CurrentQuestionIndex].QuestionText
                   </b>
                    </div>
                    <div class="card-body scroll-answer">
                  @* <span class="card-title">></span>*@
                @if (!questionOnTaps[CurrentQuestionIndex].IsMultipleChoice)
                {
                    @foreach(AnswerDAO answerDAO in questionOnTaps[CurrentQuestionIndex].Answers)
                    {
                        <SfRadioButton Label="@answerDAO.AnswerText" Name="Options" Value="@answerDAO.AnswerId.ToString()"
                        @bind-Checked="CurrentUserAnswerIdSelect" 
                        CssClass="@(IsAnswerMode ? answerDAO.IsCorrect ? "right-answer": "" : ""  )"
                        >

                        </SfRadioButton> <br />
                    }
                }
                else
                {

                }
                </div>
               @* <div class="card-footer">

                </div>*@
                </div>
                
            </div>

        </div>
        <div class="row">
            @if (!IsAnswerMode)
            {
                <div class="col-12">
                    <button class="btn btn-primary btn-block" @onclick="onDapAnClick">Đáp án</button>
                </div>
            }else{
            
                <div class="col-4">
                        <button class="btn btn-primary" @onclick="onEasyClick"> Dễ </button>
                </div>
                <div class="col-4">
                    <button  class="btn btn-primary" @onclick="onNormalClick" >Bình thường </button>
                </div class="col-4">
                <div class="col-4">
                    <button  class="btn btn-primary" @onclick="onHardClick">Khó </button>
                </div>
            }
           
        </div>

    </div>
}
<style>
    .right-answer{
        background-color:yellow
    }
    .answer-button{
        
    }
    .scroll-answer{
        max-height:70vh;
        overflow-y:auto;
    }

</style>
@code {
    List<QuestionOnTap> questionOnTaps;
    public int CurrentQuestionIndex { get; set; }
    private string CurrentUserAnswerIdSelect;

    [Parameter]
    public string TagIds { get; set; }
    [Parameter]
    public int LevelId { get; set; }
    [Parameter]
    public int limit { get; set; }

    String RightAnswerCSS{ get; set; }

    bool IsAnswerMode { get; set; }

    protected override async Task OnInitializedAsync()
    {
        questionOnTaps = await repository.LayDanhSachCauHoiOnTapTheoMucDo(appState.CurrentIdentityUserId, TagIds, LevelId, limit);
        await base.OnInitializedAsync();
    }

    void onDapAnClick()
    {
       
        StateHasChanged();
    }

    void onEasyClick()
    {
        NextQuestion();

    }

    void onNormalClick()
    {
        NextQuestion();
    }

    void onHardClick()
    {
        NextQuestion();
    }

    void userCheckChanged()
    {
        
    }

    private void NextQuestion()
    {
        if(++CurrentQuestionIndex <= questionOnTaps.Count())
        {
            IsAnswerMode = false;
            CurrentUserAnswerIdSelect = "0";
            StateHasChanged();
        }
        else
        {
            // navigate to ketqua
        }


    }

    

    //public string GetCSSClass()
    //{
    //    if (IsAnswerMode)
    //    {
    //        if(questionOnTaps[CurrentQuestionIndex].Answers.)
    //    }
    //    return "";
    //}
}
