@page "/ontap/***REMOVED***LevelId:int***REMOVED***/***REMOVED***TagIds***REMOVED***/***REMOVED***limit:int***REMOVED***"
@inject IRepositoryOntap repository
@inject AppState appState

@if (questionOnTaps?.Count() > 0) ***REMOVED***
    <div class="container">
        
        <div class="row">
            <div class="col">
                
                <div class="card bg-light text-dark">
                    <div class="card-header">
                        <b> @(CurrentQuestionIndex+1) . @questionOnTaps[CurrentQuestionIndex].QuestionText
                   </b>
                    </div>
                    <div class="card-body scroll-answer">
                  @* <span class="card-title">></span>*@
                @if (!questionOnTaps[CurrentQuestionIndex].IsMultipleChoice)
                ***REMOVED***
                    @foreach(AnswerDAO answerDAO in questionOnTaps[CurrentQuestionIndex].Answers)
                    ***REMOVED***
                        <SfRadioButton Label="@answerDAO.AnswerText" Name="Options" Value="@answerDAO.AnswerId.ToString()"
                        @bind-Checked="CurrentUserAnswerIdSelect" 
                        CssClass="@(IsAnswerMode ? answerDAO.IsCorrect ? "right-answer": "" : ""  )"
                        >

                        </SfRadioButton> <br />
                ***REMOVED***
            ***REMOVED***
                else
                ***REMOVED***

            ***REMOVED***
                </div>
               @* <div class="card-footer">

                </div>*@
                </div>
                
            </div>

        </div>
        <div class="row">
            @if (!IsAnswerMode)
            ***REMOVED***
                <div class="col-12">
                    <button class="btn btn-primary btn-block" @onclick="onDapAnClick">Đáp án</button>
                </div>
        ***REMOVED***else***REMOVED***
            
                <div class="col-4">
                        <button class="btn btn-primary" @onclick="onEasyClick"> Dễ </button>
                </div>
                <div class="col-4">
                    <button  class="btn btn-primary" @onclick="onNormalClick" >Bình thường </button>
                </div class="col-4">
                <div class="col-4">
                    <button  class="btn btn-primary" @onclick="onHardClick">Khó </button>
                </div>
        ***REMOVED***
           
        </div>

    </div>
***REMOVED***
<style>
    .right-answer***REMOVED***
        background-color:yellow
***REMOVED***
    .answer-button***REMOVED***
        
***REMOVED***
    .scroll-answer***REMOVED***
        max-height:70vh;
        overflow-y:auto;
***REMOVED***

</style>
@code ***REMOVED***
    List<QuestionOnTap> questionOnTaps;
    public int CurrentQuestionIndex ***REMOVED*** get; set; ***REMOVED***
    private string CurrentUserAnswerIdSelect;

    [Parameter]
    public string TagIds ***REMOVED*** get; set; ***REMOVED***
    [Parameter]
    public int LevelId ***REMOVED*** get; set; ***REMOVED***
    [Parameter]
    public int limit ***REMOVED*** get; set; ***REMOVED***

    String RightAnswerCSS***REMOVED*** get; set; ***REMOVED***

    bool IsAnswerMode ***REMOVED*** get; set; ***REMOVED***

    protected override async Task OnInitializedAsync()
    ***REMOVED***
        questionOnTaps = await repository.LayDanhSachCauHoiOnTapTheoMucDo(appState.CurrentIdentityUserId, TagIds, LevelId, limit);
        await base.OnInitializedAsync();
***REMOVED***

    void onDapAnClick()
    ***REMOVED***
       
        StateHasChanged();
***REMOVED***

    void onEasyClick()
    ***REMOVED***
        NextQuestion();

***REMOVED***

    void onNormalClick()
    ***REMOVED***
        NextQuestion();
***REMOVED***

    void onHardClick()
    ***REMOVED***
        NextQuestion();
***REMOVED***

    void userCheckChanged()
    ***REMOVED***
        
***REMOVED***

    private void NextQuestion()
    ***REMOVED***
        if(++CurrentQuestionIndex <= questionOnTaps.Count())
        ***REMOVED***
            IsAnswerMode = false;
            CurrentUserAnswerIdSelect = "0";
            StateHasChanged();
    ***REMOVED***
        else
        ***REMOVED***
            // navigate to ketqua
    ***REMOVED***


***REMOVED***

    

    //public string GetCSSClass()
    //***REMOVED***
    //    if (IsAnswerMode)
    //    ***REMOVED***
    //        if(questionOnTaps[CurrentQuestionIndex].Answers.)
    //***REMOVED***
    //    return "";
    //***REMOVED***
***REMOVED***
