@using BlazorVNPTQuiz.Repository;
@using BlazorVNPTQuiz.Models;
@inject IRepositoryExam repository;
@page "/ExamResult/{userExamId:int}"

@if (CurrentKetQuaBaiThi == null)
{

<h3>Đang Tải Kết Quả</h3>
 }
else
{
<div class="card bg-light text-dark">
    <div class="card-header"><b>@CurrentKetQuaBaiThi.Exam.ExamName </b></div>
    <div class="card-body">
        @CurrentKetQuaBaiThi.User.FullName<br />
        Lần thi: @CurrentKetQuaBaiThi.TryNum<br />
        Tỉ lệ đúng: @CurrentKetQuaBaiThi.NumOfRight / @CurrentKetQuaBaiThi.Exam.NumOfQuestion <br />

        Thời gian làm bài : @TimeToFinish.Hours giờ : @TimeToFinish.Minutes phút : @TimeToFinish.Seconds giây
        </div>
    <div class="card-footer">
        <span style="color:red">Điểm số: @CurrentKetQuaBaiThi.Score</span>
    </div>
</div>
    
}

@code {
    [Parameter]
    public int UserExamId { get; set; }

    public KetQuaBaiThi CurrentKetQuaBaiThi { get; set; }
    public TimeSpan TimeToFinish;
    protected override async Task OnInitializedAsync()
    {
        CurrentKetQuaBaiThi = await repository.LayBaoCaoDiem(UserExamId);
        TimeToFinish = CurrentKetQuaBaiThi.FinishTime.Subtract(CurrentKetQuaBaiThi.JoinTime);
    }
}
