@using BlazorVNPTQuiz.Repository;
@using BlazorVNPTQuiz.Models;
@inject IRepository repository;
@page "/ExamResult/***REMOVED***userExamId:int***REMOVED***"

@if (CurrentKetQuaBaiThi == null)
***REMOVED***

<h3>Đang Tải Kết Quả</h3>
 ***REMOVED***
else
***REMOVED***
    <h3>@CurrentKetQuaBaiThi.Exam.ExamName</h3>
    <h4>@CurrentKetQuaBaiThi.User.FullName</h4>
    <h4>Lần thi: @CurrentKetQuaBaiThi.TryNum</h4>
    <h4>Tỉ lệ đúng: @CurrentKetQuaBaiThi.NumOfRight / @CurrentKetQuaBaiThi.Exam.NumOfQuestion</h4>
    <h4>Điểm số: @CurrentKetQuaBaiThi.Score</h4>
    <h4>Thời gian làm bài : @TimeToFinish.Hours giờ : @TimeToFinish.Minutes phút : @TimeToFinish.Seconds giây</h4>
    
***REMOVED***

@code ***REMOVED***
    [Parameter]
    public int UserExamId ***REMOVED*** get; set; ***REMOVED***

    public KetQuaBaiThi CurrentKetQuaBaiThi ***REMOVED*** get; set; ***REMOVED***
    public TimeSpan TimeToFinish;
    protected override async Task OnInitializedAsync()
    ***REMOVED***
        CurrentKetQuaBaiThi = await repository.LayBaoCaoDiem(UserExamId);
        TimeToFinish = CurrentKetQuaBaiThi.FinishTime.Subtract(CurrentKetQuaBaiThi.JoinTime);
***REMOVED***
***REMOVED***
