@using BlazorVNPTQuiz.Repository;
@using BlazorVNPTQuiz.Models;
@inject IRepositoryExam repository;
@page "/ExamResult/***REMOVED***userExamId:int***REMOVED***"

@if (CurrentKetQuaBaiThi == null)
***REMOVED***

<h3>Đang Tải Kết Quả</h3>
 ***REMOVED***
else
***REMOVED***
<div class="card bg-light text-dark">
    <div class="card-header"><b>@CurrentKetQuaBaiThi.Exam.ExamName </b></div>
    <div class="card-body">
        @CurrentKetQuaBaiThi.User.FullName<br />
        Lần thi: @CurrentKetQuaBaiThi.TryNum<br />
        Tỉ lệ đúng: @CurrentKetQuaBaiThi.NumOfRight / @CurrentKetQuaBaiThi.Exam.NumOfQuestion <br />

        Thời gian làm bài : @TimeToFinish.Hours giờ : @TimeToFinish.Minutes phút : @TimeToFinish.Seconds giây
        </div>
    <div class="card-footer">
        <span style="color:red">Điểm số: @CurrentKetQuaBaiThi.Score</span>
    </div>
</div>
    
***REMOVED***

@code ***REMOVED***
    [Parameter]
    public int UserExamId ***REMOVED*** get; set; ***REMOVED***

    public KetQuaBaiThi CurrentKetQuaBaiThi ***REMOVED*** get; set; ***REMOVED***
    public TimeSpan TimeToFinish;
    protected override async Task OnInitializedAsync()
    ***REMOVED***
        CurrentKetQuaBaiThi = await repository.LayBaoCaoDiem(UserExamId);
        TimeToFinish = CurrentKetQuaBaiThi.FinishTime.Subtract(CurrentKetQuaBaiThi.JoinTime);
***REMOVED***
***REMOVED***
