
@using BlazorVNPTQuiz.Models;

@inject NavigationManager NavManager
@inject AppState AppState;
@implements IDisposable;
<div class="card @GetClassCss()">
    <div class="card-header"><b>@ExamItem.ExamName</b></div>
    <div class="card-body">
        Số câu: @ExamItem.NumOfQuestion<br />
        Thời gian làm bài: @(ExamItem.Duration/60) phút<br />
        Số lần thi tối đa: @ExamItem.MaxTry lần<br />
    </div>
    <div class="card-footer">
        <button @onclick="StartBaiThi" class="btn-success">Vào thi</button>
    </div>


</div>
@code {
    [Parameter]
    public ExamInfo ExamItem { get; set; }
    [Parameter]
    public int UserId { get; set; }

    private string GetClassCss()
    {
        if( AppState.SelectedExamNotFinishedInfo?.CurrentExam?.ExamId == ExamItem.ExamId)
        {
            return "bg-info text-white";
        }else if ((bool)AppState.JoinedExamIds?.Contains(ExamItem.ExamId))
        {
            return "bg-success text-white";
        }
        return "bg-light text-dark";
    }

    public void StartBaiThi()
    {
        //string absulateUri = NavManager.ToBaseRelativePath();
        //AppState.UpdateSelectedExam(this, ExamItem);
        Uri absUri = NavManager.ToAbsoluteUri($"exam/{UserId}/{ExamItem.ExamId}");//{ExamItem.ExamName}");
        NavManager.NavigateTo(absUri.ToString());

    }

    private async Task AppState_StateChanged(ComponentBase Source, string Property)
    {
        if (Source != this)
        {
            await InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnInitialized()
    {
        AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

    void IDisposable.Dispose()
    {
        AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);
    }

}
